* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: sans-serif;
}

#ulmsg{
  position: relative;
}

#msg{
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 590px;
  background-color: #FFC017;
  width: 300px;
  list-style: none;
  font-size: 2rem;
  border-radius: 5px;
}

#port {
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 185px;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}

/* Color of the navbar BEFORE scroll */
.navbar-scroll {
  background-color: #FFC017;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: auto;
  padding-bottom: auto;
}

.navbar-brand {
  font-size: unset;
  height: 3.5rem;
}

#chartdiv {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 75%;
  height: 500px;
}



#card {
  margin-left: 60px;
  margin-bottom: 60px;
}

#center {
  justify-content: center;
}

#team {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
}

#side-bar {
  width: 350px;
  position: absolute;
  left: -350px;
  z-index: 10;
}

#nav {
  position: relative;
}

#nav-form {
  position: relative;
  left: 160px;
}

#menu-icon {
  position: absolute;
}

#addchart h1 {
  margin-top: 70px;
  margin-bottom: 50px;
}

#addchart {
  margin-bottom: 100px;
}


@media (max-width:1000px){
  #nav-form{
    display: none;
  }
  #side-bar {
    width: 150px;
    position: absolute;
    left: -250px;
  }
}


