{% load static %}
<!-- ####### Design Blocks ########-->
<section class="fdb-block">
  <div class="container " >
    <div class="row align-items-center ">
      <div class="col-12 col-md-12 col-lg-6 col-xl-5">
        <h1>Design Blocks</h1>
        <p class="lead mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
          there live the blind texts.</p>

        <p><strong>Works in every browser:</strong></p>
        <p class="h1 text-muted">
          <i class="fab fa-chrome mr-3"></i>
          <i class="fab fa-safari mr-3"></i>
          <i class="fab fa-firefox mr-3"></i>
          <i class="fab fa-edge"></i>
        </p>
      </div>
      <div class="col-12 col-md-8   ml-lg-auto mr-lg-0 col-lg-6 pt-5 pt-lg-0">
        <img alt="this pic is not aviable" src="{% static 'imgs/internet.png' %}">
      </div>
    </div>
  </div>
</section>
<!-- ####### Design Blocks ########-->
<!-- ####### Testimonials ########-->

<section class="fdb-block mt-4 mb-5">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <h1>Testimonials</h1>
        <p class="lead">A small river named Duden flows by their place and supplies it with the necessary regelialia.
          Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
      </div>
    </div>

    <div class="row mt-5 align-items-center justify-content-center">
      <div class="col-md-8 col-lg-4">
        <div class="fdb-box">
          <div class="row no-gutters align-items-center">
            <div class="col-3">
              <img alt="image" class="img-fluid rounded" src="{% static 'imgs/team/people(1).jpg' %}" height="30">
            </div>
            <div class="col-8 ml-auto">
              <p>
                <strong>Person Name</strong><br>
                <em>Co-founder at Company</em>
              </p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <p class="lead">
                "Even the all-powerful Pointing has no control about the blind texts it is an small line of blind text
                by the name of Lorem Ipsum decided to leave for the far World of Grammar."
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-lg-4 mt-4 mt-lg-0">
        <div class="fdb-box">
          <div class="row no-gutters align-items-center">
            <div class="col-3">
              <img alt="image" class="img-fluid rounded" src="{% static 'imgs/team/people.jpg' %}">
            </div>
            <div class="col-8 ml-auto">
              <p>
                <strong>Person Name</strong><br>
                <em>Co-founder at Company</em>
              </p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <p class="lead">
                "Far far away, behind the word mountains, far from the countries Vokalia. Separated they live in
                Bookmarksgrove right at the coast of the Semantics, a large language ocean."
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-lg-4 mt-4 mt-lg-0">
        <div class="fdb-box">
          <div class="row no-gutters align-items-center">
            <div class="col-3">
              <img alt="image" class="img-fluid rounded" src="{% static 'imgs/team/people4.jpg' %}" height="30">
            </div>
            <div class="col-8 ml-auto">
              <p>
                <strong>Person Name</strong><br>
                <em>Co-founder at Company</em>
              </p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <p class="lead">
                "Separated they live in Bookmarksgrove right at the coast of the Semantics, the word mountains, far from
                the countries Vokalia and Consonantia, there live the blind texts."
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ####### Testimonials ########-->
<!-- ####### Call to Action ########-->

<section class="fdb-block py-0">
  <div class="container py-5 my-5" style="background-image: url(imgs/shapes/2.svg);">
    <div class="row justify-content-center py-5">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <div class="fdb-box">
          <h1>Call to Action</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts
          </p>
          <p class="mt-4">
            <a class="btn btn-primary" href="https://www.froala.com">Download</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ####### Call to Action ########-->