<section class="fdb-block">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-12 col-md-8 col-lg-7">
        <h1>We are here</h1>
        <p class="lead">One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the
          far World of Grammar.</p>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-12 col-md-6">
        <iframe class="map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24127.67456602569!2d72.23304742905825!3d40.894707216494545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bcbe8f229e70e7%3A0x525666fca1e4b69f!2z0J_QsNC50YLRg9CzLCDQo9C30LHQtdC60LjRgdGC0LDQvQ!5e0!3m2!1sru!2s!4v1655891109148!5m2!1sru!2s"
          width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
      </div>

      <div class="col-12 col-md-6 pt-5 pt-md-0">
        <form>
          <div class="row">
            <div class="col">
              <input type="email" class="form-control" placeholder="Enter email">
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <input type="email" class="form-control" placeholder="Subject">
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <textarea class="form-control" rows="3" placeholder="How can we help?"></textarea>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <a href="{% url 'app:unfortunate' %}" class="btn btn-primary">Submit</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>